<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Register User</title>

  </head>
  <body>

	<h2 th:text="${message}">Welcome to Preach Blogs </h2><br/>
	<form action="#" th:action="@{doRegister}" th:object="${registerModel}" method="post">
		<table>
			<tr>
				<td>First Name:</td><td><input type="text" th:field="*{userFirstName}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userFirstName')}" th:errors="*{userFirstName}">First Name Error</h5></td>
			</tr>
			<tr>
				<td>Last Name:</td><td><input type="text" th:field="*{userLastName}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userLastName')}" th:errors="*{userLastName}">Last Name Error</h5></td>
			</tr>
			<tr>
				<td>User Name:</td><td><input type="text" th:field="*{userEmail}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">User Email Error</h5></td>
			</tr>
			<tr>
				<td>User Name:</td><td><input type="text" th:field="*{userUserName}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userUserName')}" th:errors="*{userUserName}">User Name Error</h5></td>
			</tr>
			<tr>
				<td>Password:</td><td><input type="text" th:field="*{userPassword}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Password Error</h5></td>
			</tr>
			<tr>
				<td>Re-Enter Password:</td><td><input type="text" th:field="*{userRePassword}" ></td>
				<td><h5 style="color:red" th:if="${#fields.hasErrors('userRePassword')}" th:errors="*{userRePassword}">Re-Enter Password Error</h5></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Sign Up"/></td>
			</tr>
		</table>
		<div th:if="${#fields.errors('*')}">List of Errors</div>
		<div th:each="err : ${#fields.errors('*')}">
			<span style="color:red" th:text="${err}" class="fieldError"></span>
		</div>
	</form>

  </body>
</html>